extend _layout

block content
  #myModal.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h4.modal-title
        .modal-body
          each lang, keyLang in listeLang
            .form-group(data-lang=keyLang)
              label.
                Langue : #{keyLang}




  center
    .wrapper
      table#tab_logic.table.table-bordered
        thead.color.table-inverse
          tr
            th.
             Clés
            each val in listeLang
              th= val.label
            th.

        tbody
          each valTab in results
            tr.line(id='row_'+ valTab.key.replace(/\./gi, '-'), data-key=valTab.key)
              th.modTrig
                span.key(id='data.'+valTab.key, data-key=valTab.key)=valTab.key

              each lang, keyLang in listeLang
                td.modTrig(data-lang=keyLang)
                  textarea.form-control(data-key='data.'+valTab.key, data-lang=keyLang, rows=1)=valTab[keyLang]||''

              td
                button.closed(id='btn_'+valTab.key, type='button', value='Supprimer', data-inputkey=valTab.key, data-dismiss='alert', data-confirm='confirmation')
                  span.cross(aria-hidden='true') x
                  span.sr-only Close

