extend _layout

block content
    center
      input.search(id='searching', type='search', name='search', value='Rechercher...')

    table#tab_logic.table.table-bordered.table-hover
      thead.color
        tr
          td.
           Clés
          each val in listeLang
            td= val.label

      tbody
        each val, key in objReturn
          tr(id='row_'+ key.replace(/\./gi, '-'))
            th
              span.key(id='data.'+key)=key
              button.close(id='btn_'+key, type='button', value='Supprimer', data-inputkey=key, data-dismiss='alert')
                span.cross(aria-hidden='true') x
                span.sr-only Close

            each lang, keyLang in listeLang
              td
                input.form-control(id=keyLang, type='text', value=val[keyLang]||'', data-key='data.'+key, data-lang=keyLang)

