extend _layout

block content
  table
     thead
        tr
          td.
           clé
          each val in listeLang
            td= val.label


        each val, key in objetFinale.fr
          tr
            td
              input.form-control(id='key', type='text', value=key)
              each lang, keyLang in listeLang
                td
                  input.form-control(id=keyLang, type='text', value=objetFinale[keyLang][key], data-key='data.'+key, data-lang=keyLang)




