extend _layout

block content
  #myModal.modal.fade
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          h4.modal-title
        .modal-body
          each lang, keyLang in listeLang
            .form-group(data-lang=keyLang)
              label.
                Langue : #{keyLang}




  center
    input.search(id='searching', type='text', name='search', placeholder='Rechercher...')
  .wrapper
    table#tab_logic.table.table-bordered
      thead.color
        tr
          th.
           Clés
          each val in listeLang
            th= val.label
          th.

      tbody
        each val, key in objReturn
          tr.line(id='row_'+ key.replace(/\./gi, '-'), data-key=key)
            th.modTrig
              span.key(id='data.'+key, data-key=key)=key

            each lang, keyLang in listeLang
              td.modTrig(data-lang=keyLang)
                textarea.form-control(data-key='data.'+key, data-lang=keyLang, rows=1)=val[keyLang]||''

            td
              button.closed(id='btn_'+key, type='button', value='Supprimer', data-inputkey=key, data-dismiss='alert', data-confirm='confirmation')
                span.cross(aria-hidden='true') x
                span.sr-only Close

